<ion-view view-title="Servicios Aplicados">
  <ion-content>
      <div class="row">

        <div class="row row-center row-wait">
          <div class="col padding-left">
            <p><span class="text-bold">Fecha de ingreso: </span> <br>2016-01-04</p>
            <p><span class="text-bold">Hora de ingreso: </span> <br>02:30p.m</p>
          </div>
          <div class="col">
            <p><span class="text-bold">Num Doc: </span> <br>OT-00000002</p>
            <p><span class="text-bold">Estado: </span> <br>Aplicada</p>
          </div>
          <div class="col">
            <p><span class="text-bold">Código Cita: </span> <br>CTS-00000001</p>
            <p><span class="text-bold">Sucursal: </span> <br>Lindora</p>
          </div>
        </div>
      </div>

      <div class="item item-divider">Servicios</div>

      <div class="row row-center card row-wait">
        <div class="col padding-left">
          <p><span class="text-bold">Num Doc: </span> <br>OT-00000002</p>
        </div>
        <div class="col">
          <p><span class="text-bold">Servicio: </span> <br>Rotación de llantas</p>
        </div>
        <div class="col">
          <p><span class="text-bold">Estado: </span> <br>Aplicada</p>
        </div>
      </div>
      <div class="row row-center card row-wait">
        <div class="col padding-left">
          <p><span class="text-bold">Num Doc: </span> <br>OT-00000002</p>
        </div>
        <div class="col">
          <p><span class="text-bold">Servicio: </span> <br>Rotación de llantas</p>
        </div>
        <div class="col">
          <p><span class="text-bold">Estado: </span> <br>Aplicada</p>
        </div>
      </div>

      <div class="item item-divider">Repuestos/Accesorios</div>

      <div class="row row-center card row-wait">
        <div class="col padding-left">
          <p><span class="text-bold">Num Doc: </span> <br>OT-00000002</p>
        </div>
        <div class="col">
          <p><span class="text-bold">Artículo: </span> <br>Escobillas</p>
        </div>
        <div class="col">
          <p><span class="text-bold">Estado: </span> <br>Aplicada</p>
        </div>
      </div>
      <div class="row row-center card row-wait">
        <div class="col padding-left">
          <p><span class="text-bold">Num Doc: </span> <br>OT-00000002</p>
        </div>
        <div class="col">
          <p><span class="text-bold">Artículo: </span> <br>Llanta nueva</p>
        </div>
        <div class="col">
          <p><span class="text-bold">Estado: </span> <br>Aplicada</p>
        </div>
      </div>
  </ion-content>
</ion-view>
