<ion-view view-title="Historico de Trabajos">
  <ion-content>
    <div class="list text-center">
      <div class="row row-center card row-wait">
        <div class="col padding-left">
          <p><span class="text-bold">Fecha de ingreso: </span> <br>2016-01-04</p>
          <p><span class="text-bold">Hora de ingreso: </span> <br>02:30p.m</p>
        </div>
        <div class="col">
          <p><span class="text-bold">Num Doc: </span> <br>OT-00000002</p>
          <p><span class="text-bold">Estado: </span> <br>Aplicada</p>
        </div>
        <div class="col">
          <p><span class="text-bold">Código Cita: </span> <br>CTS-00000001</p>
        </div>
        <div class="col col-10  text-center">
          <a class="icon go-wait ion-arrow-right-a" href="#/tab/detalleTrabajo"></a>
        </div>
      </div>

      <div class="row row-center card row-wait">
        <div class="col padding-left">
          <p><span class="text-bold">Fecha de ingreso: </span> <br>2014-11-04</p>
          <p><span class="text-bold">Hora de ingreso: </span> <br>03:30p.m</p>
        </div>
        <div class="col">
          <p><span class="text-bold">Num Doc: </span> <br>OT-00000032</p>
          <p><span class="text-bold">Estado: </span> <br>Aplicada</p>
        </div>
        <div class="col">
          <p><span class="text-bold">Código Cita: </span> <br>CTS-00000041</p>
        </div>
        <div class="col col-10  text-center">
          <a class="icon go-wait ion-arrow-right-a" href="#/tab/detalleTrabajo"></a>
        </div>
      </div>
      <div class="row row-center card row-wait">
        <div class="col padding-left">
          <p><span class="text-bold">Fecha de ingreso: </span> <br>2016-08-24</p>
          <p><span class="text-bold">Hora de ingreso: </span> <br>01:30p.m</p>
        </div>
        <div class="col">
          <p><span class="text-bold">Num Doc: </span> <br>OT-00000042</p>
          <p><span class="text-bold">Estado: </span> <br>Aplicada</p>
        </div>
        <div class="col">
          <p><span class="text-bold">Código Cita: </span> <br>CTS-00000081</p>
        </div>
        <div class="col col-10  text-center">
          <a class="icon go-wait ion-arrow-right-a" href="#/tab/detalleTrabajo"></a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
