<ion-view view-title="Vehículos">
  <ion-content>
    <div class="list">

      <div class="row row-center card row-wait">
        <div class="col col-50" >
          <p><span class="text-bold">Placa: </span>CL 207111</p>
          <p><span class="text-bold">Dueño: </span>Juan Arias</p>
          <p><span class="text-bold">Num VIN: </span>1D7KS28C76J144814</p>
        </div>
        <div class="col col-40">
          <p><span class="text-bold">Año: </span>2006</p>
          <p><span class="text-bold">Marca: </span>MITSUBISHI</p>
          <p><span class="text-bold">Modelo: </span>GLS AT</p>
        </div>
        <div class="col col-10  text-center">
          <a class="icon go-wait ion-arrow-right-a" href="#/tab/detalleVehiculo"></a>
        </div>
      </div>

      <div class="row row-center card row-wait">
        <div class="col col-50">
          <p><span class="text-bold">Placa: </span>291425</p>
          <p><span class="text-bold">Dueño: </span>Ricardo Arias</p>
          <p><span class="text-bold">Num VIN: </span>1HGCG1650WA500067</p>
        </div>
        <div class="col col-40">
          <p><span class="text-bold">Año: </span>2006</p>
          <p><span class="text-bold">Marca: </span>MITSUBISHI</p>
          <p><span class="text-bold">Modelo: </span>MIRAGE GLS MT</p>
        </div>
        <div class="col col-10  text-center">
          <a class="icon go-wait ion-arrow-right-a" href="#/tab/detalleVehiculo"></a>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
